.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
    padding: 50px 200px;

    .cardImg {
        width: 100%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: transform .8s ease;

        &:hover {
            text-decoration: underline;
        }

        img {
            width: 100%;
            height: 160px;
        }

        a {
            font-size: 18px;
            color: blue;
            font-weight: normal;
            padding: 10px;
            text-decoration: none;
            display: flex;
            justify-content: center;
        }

    }
}

@media (max-width:650px) {
    .card {
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.baby {
    display: flex;
    justify-content: center;

    img {
        width: 100vw;
    }

    height: 30rem;
    background-position: cover;
    background-size:0%;
}

@media (max-width:650px) {
    .baby {
        height: fit-content;
        /* padding-top: 7rem; */

        img {
            width: 100vw;
            height: 50%;
        }
    }

}

.accesories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
    padding: 50px 200px;

    .shortss {
        width: 100%;
        height: 170px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        cursor: pointer;
        transition: transform .8s ease;

        &:hover {
            text-decoration: underline;
        }

        img {
            width: 100%;
            height: 160px;
        }

        a {
            font-size: 18px;
            color: blue;
            font-weight: normal;
            padding: 10px;
            text-decoration: none;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width:650px) {
    .accesories {
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        .shortss {
            width: 100%;
        }
    }
}

#mtl {
    font-size: 1.75rem;
    font-weight: bold;
}

.video {
    height: min-content;
}

.love {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
    padding: 0px 5px 10px;

    .new {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        transition: transform .8s ease;


        img {
            width: 100%;

            object-fit: cover;
        }

        a {
            visibility: visible;
            font-size: 18px;
            color: black;
            font-weight: normal;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            display: flex;
            justify-content: center;
        }

    }
}