.proHead {
    font-size: 2rem;
    font-weight: bolder;
}
@media (max-width:650px) {
    .proHead {
        font-size: 1.2rem;
        font-weight: bold;
    }
}
.box1{
    height:40vh;
    width:80vw;
    background-color:aliceblue;
    display:flex;
    flex-direction:row;
    justify-content:center; 
    align-items:center;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:650px) {
    .box1{
        height:20vh;
        width:100vw;
    }
    .cir{
        height: max-content;
        width: fit-content;
    }
    .circl{
        width: fit-content;
    }
    .im1{
        height: 50%;
        width: 50%;
    }
}
.cir{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.circl{
    /* width:auto; */
    /* height:auto; */
    background-color:white;
    border-radius: 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.im1{
    border-radius: 50%;
}
.circle{
    text-decoration:none;
    font-size:large;
    color:rgba(0,0,0,0.8);
}



.btns{
    width: max-content;
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 0.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.bt{
    margin-left:20px;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border-width:0.3px;
    border-color:rgba(0,0,0,0.5);
    font-size:medium;
    font-weight:bold;
    color:rgba(0,0,0,0.5);
}

@media (max-width:650px) {
    .btdiv{
        width: 100vw;
    }
    .btns{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }
    .btns::-webkit-scrollbar {
        display: none;
    }
    .bt {
        width: auto;
        font-size: 0.5rem;
        height: 1.2rem;
        scroll-snap-align: start;
    }
    
}
.sort {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}
.lbox {
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 3rem;
    padding: 0.2rem 1rem;
}
.lbox:hover {
    background-color: rgba(0,0,0,0.3);
    color: azure
    
}

@media (max-width:650px) {
    .sort{
        margin:0
    }
    .lbox{
        padding: 0;
        margin-left: 0.5rem;
    }
}

.sortIcon {
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}
.box2{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media (max-width:650px) {
    .box2{
        width: 100vw;
        grid-template-columns: repeat(2,1fr);

    }
}
/* .pic{
    width:200px;
    height:350px;
} */
 #productimage{
    width: 80%;
    height: 80%;
 }
link{
    text-decoration:none;
}
.detail{
    display:flex;
    justify-content:space-between;
}
.det{
    display:flex;
    justify-content:flex-start;
}
.three{
    display:flex;
    justify-content:end;
    padding-top:16px;
    padding-right:50px;

}
.sty{
    color:rgba(0,0,0,0.5);
    font-size:small;  
    padding-top:20px;
    margin-top:10px; 
    margin-bottom:0px;
}
.tit{
    font-size:15px;
    font-weight:bold;
    font-family:sans-serif;
    color:rgba(0,0,0,0.8); 
    margin-bottom:20px;
}
.fpr{
    color:black;
    font-size:larger;
    font-weight:bolder;
    font-family:arial;
    margin-right: 5px;
}
.pr{
    color:rgba(0,0,0,0.5); 
    text-decoration:line-through;
    font-size:large; 
    padding-top:3px;
    margin-right: 5px;
}
.disc{
    color:rgba(0,0,0,0.7); 
    font-size:larger; 
    font-weight:bold;
    padding-top:1px;
}
.addicn{
    height:30px;
    width:30px;
    border-radius: 100%;
    /* background-color: rgb(51, 162, 218); */
    background-color: rgba(5,132,218,1);
    border: 1px solid white;
    font-size: larger;
    color: white;
    /* variant='solid'fontSize='larger' bgColor='rgba(25,183,222,1)'color='white' height='fit-content'borderColor='white'borderBottom='white'borderBottomRight='white' borderRadius='100%' */
}
#li{
    text-decoration: none;
}
