
#para{
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.footer {
    background-color: #f9f9f9;
    padding: 20px;
}

.footer-top {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    font-size: 0.9rem;
    
}
.footer-column a{
     text-decoration: none;
     color: black;
     /* margin-left: 32px; */
}
.footer-column a:hover{
    text-decoration: underline;
    color: blueviolet;
}



.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.email,
.space-locator {
    display: flex;
}

.email input,
.space-locator input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

.email button,
.space-locator button {
    padding: 5px 10px;
}

.footer-disclaimer {
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.footer-disclaimer h4 {
    margin-bottom: 10px;
}

.footer-bottom {
    padding: 10px 0;
    font-size: small;
}

.footer-bottom-links,
.footer-social-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.footer-bottom-links a{
    color: gray;
    font-size:small;
}
.footer-bottom-links a:hover{
    color: black;
}


.footer-social-links a{
     text-decoration: none;
     color: rgba(25,183,222,1);
}
.footer-social-links a:hover{
    text-decoration: underline;
    color: blue;
}

.footer-bottom-links li,
.footer-social-links li {
    margin: 0 10px;
}

.fp{
    margin-bottom: 1rem;
    font-size: 0.85rem;
}
